.App {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.App .Container {
    flex: 1;
    box-sizing: border-box;
    padding: 0 5px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Container > .Label {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
